$bodyFont: normal 15px/20px Georgia, "Times New Roman", Times, serif;
$bodyColor: rgba(198, 238, 252, 0.53);
$ContentBackground: #3b3b3b;
$headingColor:  #fccd10;
$linkColor: $headingColor;
$fotoBorder: #f5c70f;
$briefColor: #fff178;
$tableThColor: #94a34e;
$tablecolor: #677d01;
$briefTextColor: #000000;
$ContentColor: #fff;