$bodyFont: normal 12px/18px Arial, Helvetica, sans-serif;
$bodyColor: #dcbb9a;
$ContentBackground: #ffffff;
$headingColor: #893c00;
$linkColor: #3d70a1;
$fotoBorder: $headingColor;
$briefColor: #fadcba;
$tableThColor: #e0e0e0;
$ContentColor: #000000;
$FormCaptColor: #808080;